*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --text: #0A0447;
    --primary: #FF3948;
    --secondary: #999999;
}

body {
    background-color: #fff;
    color: var(--text);
    font-family: 'Cabin', sans-serif;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}

a {
    color: var(--primary);
}

img {
    max-width: 100%;
}

.title>span {
    color: var(--primary);
}

.menu-item {
    width: 20px;
    height: 4px;
    border-radius: 8px;
    margin-bottom: 4px;
    background-color: #fc4d5b;
}

.hero {
    padding: 1rem 2rem;
    margin-top: 112px;
}

.title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
    font-weight: 700;
}

.description {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
}

.divider {
    width: 56px;
    height: 2px;
    margin: 2rem auto;
    border-radius: 5px;
    background-color: #bcbcbc;
  }

.call-to-action {
    font-size: 12px;
}

.call-to-action p {
    display: inline-block;
    padding: 0.75rem 1.5rem;
}

.call-to-action p > a {
    margin-left: 5px;
}

.link.dark {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--primary);
    border: var(--primary);
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}

.deal .title {
    font-size: 25px;
    text-align: center;
}

.deal .description {
    text-align: center;
}

.business {
    padding: 0.75rem 1.5rem;
}

.business-item img {
    display: block;
    width: 130px;
    height: 130px;
    margin: auto;
    margin-bottom: 20px;
}

.business-item .title {
    font-size: 18px;
    text-align: center;
}

.business-item .description {
    text-align: center;
}

.startup {
    padding: 0.75rem 1.5rem;
}

.item-startup , .item-startup-2 {
    font-size: 12px;
}

.item-startup-split {
    display: flex;
    align-content: center;
    justify-content: space-between;
}